.project {
  position: relative;
  margin: 25px 30px;
  border-radius: 4px;

  border: 2px solid var(--pink-glow);
  -moz-box-shadow: 0 0 4px var(--pink-glow);
  -webkit-box-shadow: 0 0 4px var(--pink-glow);
  box-shadow: 0 0 4px var(--pink-glow);

  width: 350px;
  height: 350px;

  font-size: larger;
}

.project:hover {
  transform: scale(1.1);
  transition: 400ms;
}

.project:not(:hover) {
  transition: 300ms;
}

.project__description {
  color: var(--blue-glow);
  text-shadow: 0 0 4px black;
  text-align: center;
  
  background: linear-gradient(
    180deg,
    rgba(209, 209, 209, 0.02) 0%,
    rgba(255, 255, 255, 0.5) 120%
  );
  width: inherit;
  position: absolute;
  padding-top: 15px;
  /* width: 336px; */
  padding-bottom: 20px;

  bottom: 0;
  height: 20%;

  font-size: 26px;
}

.project__image{
  width: 100%;
  max-height: 100%;
}