.header{
    padding: 12px 25px 5px;
}

.header__icon{
    color: red;
    width: 1.5rem;
    position: relative;
    top: 5px;
    right: 5px;
}

.icon_weight{
    filter: brightness(1000%);
}

.header__top-elements{
    font-size: 1.5;
    font-weight: lighter;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    color: var(--pink-glow); 
}

.header__undeline{   
    border: none; 
    background-color: var(--pink-glow);
    color: var(--pink-glow);
    height: 2px;

    -moz-box-shadow:0 0 4px var(--pink-glow); 
    -webkit-box-shadow:0 0 4px var(--pink-glow);
    box-shadow:0 0 4px var(--pink-glow);
}

.header__left-elements{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
        
    -moz-text-shadow:0 0 3px; 
    -webkit-text-shadow:0 0 3px; 
    text-shadow:0 0 3px;  
}

.header__menu{
    color: var(--pink-glow); 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 3;   
}
.header__menu_unselected{
	color: var(--pink-glow);
    text-decoration: none;
}
.header__menu_unselected:hover{
    color: var(--blue-glow);
    text-shadow: 0 0 4px var(--blue-glow);
    transform: scale(1.2);
    transition: 300ms;
}
.header__menu_unselected:not(:hover){
    transition: 300ms;
}

.header__right-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 2;    
}

.header__level{
    display: flex;
    color: var(--blue-glow);
}

.header__level__number{
    color: var(--blue-glow);
    transform: scaleY(1.7);
    position: relative;
    top: 5px;
    right: 5px;
}

.header__level__text{  
    color: var(--blue-glow);
    border-bottom: 1px solid;
    padding-bottom: 3px;   
}

.header__name{
    color: var(--green-glow);
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

