.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

@media screen and (max-width: 500px){
    .about{
        flex-direction: column;
    }
}

.about__third {
    min-width: 30%;
}

.about__third_my-photo {
  width: 23vw;
}

.shack-news-logo {
  width: 23vw;
}
