img {
  /* position: relative; */
  width: inherit;
  /* height: inherit; */
  object-fit: cover;
}

.projects {
  margin: 0 0 40px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head {
  font-size: larger;
  text-align: center;
  padding: 5px;

  --backgroung-color: rgb(26, 7, 7);
  background: linear-gradient(
        135deg,
        transparent 10px,
        var(--backgroung-color) 0
      )
      top left,
    linear-gradient(-45deg, transparent 15px, var(--backgroung-color) 0) bottom
      right;

  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}


