.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

@media screen and (max-width: 900px) {
  .skills {
    align-items: center;
    flex-direction: column;
    font-size: larger;
  }
}

.skills .content-block {
  padding: 0;
  /* width: 30%; */
  width: 400px;
}

.content-block__content p:hover {
  margin-left: 10px;
  transition: 400ms;
  transform: scale(1.05);
  color: var(--blue-glow);
  text-shadow: 0 0 4px var(--blue-glow);
}

.content-block__content p:not(:hover) {
  transition: 300ms;
}
