@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(170deg, rgb(51, 16, 17) 15%, rgba(15,15,19,1) 45%, rgba(3,6,10,1) 90%);
  
  font-family: -apple-system, BlinkMacSystemFont, 'Oswald', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
